/* AFACAD FLUX */
.afacad-100{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-200{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-300{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-400{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-500{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-600{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-700{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-800{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-900{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-1000{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.afacad-100-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}
.afacad-200-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}
.afacad-300-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}
.afacad-400-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}
.afacad-500-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}
.afacad-600-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}
.afacad-700-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}
.afacad-800-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}
.afacad-900-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}
.afacad-1000-italic{
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: italic;
    font-variation-settings: "slnt" 0;
}

/* OSWALD */
.oswald-200 {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.oswald-300 {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.oswald-400 {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.oswald-500 {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.oswald-600 {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.oswald-700 {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.oswald-200-italic {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}
.oswald-300-italic {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}
.oswald-400-italic {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
.oswald-500-italic {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}
.oswald-600-italic {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}
.oswald-700-italic {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}

/* INTER */
.inter-100 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.inter-200 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.inter-300 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.inter-400 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.inter-500 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.inter-600 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.inter-700 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.inter-800 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.inter-900 {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.inter-100-italic {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
}
.inter-200-italic {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
}
.inter-300-italic {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}
.inter-400-italic {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}
.inter-500-italic {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
}
.inter-600-italic {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}
.inter-700-italic {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}
.inter-800-italic {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
}
.inter-900-italic {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
}